<h1>METEO</h1>
<ng-container *ngIf="currentLocation.latitude>0 && currentLocation.longitude>0">
  hello, tu atrodies te: {{currentLocation.longitude}} {{currentLocation.latitude}}
  un laičiīņš tagad ir tāds:

  <app-current-weather [currentWeather]="weatherNow"></app-current-weather>
  <hr>
  <app-time-temperature-slot *ngFor="let weather of vissWeath" [weather]="weather" (click)="openWeather(weather)"
    [class.auksts]="weather.data.instant.details.air_temperature<20"
    [class.karsts]="weather.data.instant.details.air_temperature>=22">
  </app-time-temperature-slot>
</ng-container>