:host {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    padding: 50px 10%;
    background-image: url('sunny_weather.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

li {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 10px;
}